body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(19, 19, 19);
    color: #D3D3D3;
}

.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(94, 94, 94);
}

.cabecalho__icones {
    display: flex;
    align-items: center;
    margin: 0 0.5em;
}

#cabecalho__menu {
    width: 3em;
}

#cabecalho__logo {
    width: 5em;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 103px;
    left: 0;
    background-color: #474646;
    left: -100vw;
    transition: .50s;
    border-end-end-radius: 10%;
}

.cabecalho__icones {
    justify-content: space-between;
}

.menu-lateral--ativo {
    left: 0;
    transition: .55s;
}

.menu-lateral__link {
    height: 70px;
    color: #ffffff;
    font-size: large;
    font-style: italic;
    text-decoration: none;
    padding-left: 56px;
    display: flex;
    align-items: center;
}

.menu-lateral__link--ativo {
    color: #FFFFFF;
    padding-left: 48px;
    border-left: 8px solid #E84600;
}

.menu-lateral__link::before {
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 10px;
}

.container {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rodape {
    padding: 2em;
    border-top: 1px solid rgb(94, 94, 94);
}

@media screen and (max-width: 720px) {
    
    /* Cabeçalho */

    .cabecalho {
        width: 92vw;
    }
    
    .cabecalho__icones {
        justify-content: space-between;
    }

     /* menu lateral */

     .menu-lateral {
        width: 50vw;
        height: 30vh;
    }

    /* principal */

    .container__titulo {
        margin-left: 5.5em;
    }

    .habilidades__titulo {
        margin-top: 5em;
        margin-left: 4vh;
    }

    .container {
        margin-left: 4.5vh;
        margin-right: 2em;
        padding-bottom: 1em;
    }

}

@media screen and (min-width: 720px) and (max-width: 1338px) {
    
    /* Cabeçalho */

    .cabecalho {
        width: 100vw;
    }

    .cabecalho__icones {
        justify-content: space-around;
    }

    /* menu lateral */

    .menu-lateral {
        width: 15vw;
        height: 30vh;
        margin-left: 19.2em;
    }

    /* principal */

    .container__titulo {
        margin-left: 40%;
    }

    .habilidades__titulo {
        margin-top: 5em;
        margin-left: 4vh;
    }

    .container {
        margin-left: 4.5vh;
        margin-right: 2em;
        margin-bottom: 2em;
        padding: 0 25em 1em 23em;
    }
    
}

@media screen and (min-width: 1338px) {

    /* Cabeçalho */

    .cabecalho {
        width: 100vw;
    }

    .cabecalho__icones {
        justify-content: space-around;
    }

    /* menu lateral */

    .menu-lateral {
        width: 15vw;
        height: 30vh;
        margin-left: 29.2em;
    }

    /* principal */

    .habilidades__titulo {
        margin-top: 5em;
        margin-left: 45.2vw;
    }

    .container {
        margin-left: 4.5vh;
        margin-right: 2em;
        margin-bottom: 2em;
        padding: 0 45em 1em 43em;
    }
    
}