* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body {
    background: linear-gradient(#000000, #6f3bff);
    color: rgb(225, 224, 223);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.container-info {
    padding-top: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.container-info img {
    border-radius: 50%;
    width: 20%;
}

.container-info div {
    width: 50%;
}

.container-info div p {
    padding-top: 1rem;
    font-size: 24px;
}

.container-skills {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15rem 3rem 0 0;
}

.lista-skills {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.lista-skills img {
    width: 15rem;
}

.lista-skills div ul {
    padding-top: 1rem;
    list-style: inside;
}



@media (max-width: 950px){

    .container-info {
        flex-direction: column;

    }   

    .container-skills {
        flex-direction: column;
        padding: 7rem 0 0;
    }

    .lista-skills {
        flex-direction: column;
    }
    
}
